Frontend:
  Translation:
    impl: NoTranslation
    max_addr: 2147483648
  clock_ratio: 8
  impl: SimpleO3
  llc_capacity_per_core: 1MB
  num_expected_insts: 10000000
  traces:
  - /home/fan/projects/ramulator2/ctraces/654.trace
MemorySystem:
  AddrMapper:
    impl: RoBaRaCoCh
  Controller:
    RefreshManager:
      impl: AllBank
    RowPolicy:
      cap: 4
      impl: OpenRowPolicy
    Scheduler:
      impl: FRFCFS
    impl: Generic
    plugins: null
  DRAM:
    RFM:
      BRC: 2
    impl: DDR5
    org:
      channel: 1
      preset: DDR5_16Gb_x4
      rank: 2
    timing:
      preset: DDR5_3200AN
  clock_ratio: 3
  impl: GenericDRAM
